*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    /* display: flex; */
    align-items: center;

}
.forms{
    margin-top: -7%;
}

/* form */
.contents{
    /* display: flex; */
    position: relative;
    max-width: 480px;
    width: 100%;
    background: rgb(222, 243, 247);
    border-radius: 5px;
    box-shadow: 4px 9px 18px rgba(32, 30, 30, 0.1);
    overflow: hidden;
    margin: 0 20px;
}


.contents .forms{
    display: flex;
    align-items: center;
    height: 100%;
    width: 200%;
    transition: height 0.4s ease;
}

.contents .form{
    width: 50%;
    padding: 30px;
    background: rgb(222, 243, 247);
    transition: margin-left 0.18s ease;
}

.contents.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.contents .register{
    opacity: 0;
    transition: opacity 0.09s ease;
}

.contents.active .register{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.contents.active .forms{
    height: 115%;
}

.pop button{
    padding: 10px 20px;
    font-size: 50px;

}
#login_popup{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.top-form{
    width: 100%;
    margin: 0% 0 0 5%;
    display: flex;
    justify-content: flex-end;
    background-color: azure;
}
@media screen and (max-width: 445px){
    .top-form{
        width: 100%;
        margin: -2% 0 0 5%;
        display: flex;
        justify-content: flex-end;
        background-color: azure;
    }
    .top-form .close-modal{
        cursor: pointer;
        padding: 0 10px;
        font-size: 25px;
    }
}


.top-form .close-modal{
    cursor: pointer;
    padding: 0 20px;
    font-size: 20px;
}



@media screen and (max-width: 360px){
    .top-form{
        width: 100%;
        margin: -6% 0 0 5%;
        display: flex;
        justify-content: flex-end;
        background-color: azure;
    }
    .top-form .close-modal{
        cursor: pointer;
        padding: 0 10px;
        font-size: 25px;
    }
}

@media screen and (max-width: 275px){
    .top-form{
        width: 100%;
        margin: -30% 0 0 7%;
        display: flex;
        justify-content: flex-end;
        background-color: azure;
    }
    .top-form .close-modal{
        cursor: pointer;
        padding: 0 10px;
        font-size: 25px;
    }
}